* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Yantramanav", sans-serif;
}

.icon{
    position: relative;
    width: 60px;
    left: 440%;
}
.Cabeçalho{
    display: flex;
    box-shadow: 1px 1px 20px #000000;
    position: sticky;
    
    top: 0;
    z-index: 2;
    background-color: #f9f5f5;
}
nav {
    height: 100%;
    width: 0px;
    background-color: 	#ffd4ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}
.x {
    width: 60px;
    background-color: transparent;
    border: none;
    margin-bottom: 50px;
}
.x:active {
    opacity: 0.8;
}
.links{
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}
.menu {
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 4;
    border: none;
}
.close-menu{
    border-radius: 10px;
}

h1 {
    position: relative;
    top: 30px;
    z-index: 1;
}

.logo2 {
    width: 40%;
    position: relative;
    left: 60%;
    top: 10px;
}
.color-rosa {
    background-color: #ffbaff;
    height: 345px;
    border-radius: 10px;
}

.info {
    background-color: #ffffff;
    width: 95%;
    display: inline-block;
    margin: 12px 9px;
    height: 320px;
    border-radius: 10px;
    position: relative;
    
}

h2 {
    padding-left: 10px;
    padding-top: 10px;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90%;
    padding-left: 10px;
    padding-top: 10px;
}
input {
    background-color: 	#A9A9A9;
    border: none;
    height: 38px;
    width: 95%;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
input:active {
    background-color: 	#838383;
}
input::placeholder {
    color: #ffffff;
}
h3 {
    margin-top: 10px;
   text-align: center;
   font-size: 45px;
   font-weight: 500;
   font-family: "Titan One", sans-serif;
}
.hidden {
    opacity: 1;
    
}
.galery{
    background-color: #f898f879;
    
}
.img-services {
    animation: appear 2s;
    animation-timeline: scroll();
    width: 60vw;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.left-right{
    display: flex;
    justify-content: space-between;
     .button-left{
        position: relative;
        width: 40px;
        bottom: 230px;
        left: 10px;
        border-radius: 20px;
        background-color:  #ffbaff;
        border: none;
        cursor: pointer;
     }
     .button-right{
        position: relative;
        bottom: 230px;
        width: 40px;
        right: 10px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color:  #ffbaff;
     }
}
.button-left:active{
    background-color:  #bc73bc;
 }
.button-right:active {
    background-color:  #bc73bc;
}

.last-one{
    animation: appear 2s;
    animation-timeline: scroll();
    
}
@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
.btn-menu {
    border: none;
}
.boxImage {
    
}